<div class="row">
  <div class="small-12 columns">
    <form novalidate name="vm.searchForm" ng-submit="vm.search(vm.params)">
      <label>
        Album Name
        <input type="text" ng-model="vm.params.query" ng-change="vm.search(vm.params)" ng-model-options="{debounce: 300}">
      </label>
    </form>
  </div>
<div>

<div class="row align-middle" ng-repeat="item in vm.items" ui-sref="album({id: item.id})">
  <div class="small-3 medium-2 large-1 columns">
    <img ng-src="{{ item.images[0].url }}">
  </div>
  <div class="small-9 medium-10 large-11 columns">
    <span ng-bind="item.name"></span>
  </div>
</div>
